#map{
	  width : 500px;
      height : 500px;
      display : inline-block;
      margin-right : 10px;
      float : right;
      border : dotted 1px black;
	  border-radius : 6px;
	  margin-top: 500px;
}
.separe
{
    height: 120px;
    background-color: rgb(230, 54, 23);
    border: 1px solid ;
    
}
.titre
{
    font-family: 'Crete Round' , serif;
    font-size: 45px;
    text-shadow: 6px 6px 0px black;
    
   
}
#formulaire{
	float: left;
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	margin-top:50px;
  }


body{
	font-family: sans-serif;
}

table{
	position: absolute;
	width: 58%;
	top:650px;
}
th, td{
	padding: 10px;
	text-align: left;
	border: solid 1px #ccc;
}
th{
	background-color: rgb(230, 54, 23);
	color:#ccc;
}
tr:nth-child(odd){
	background-color: #eee;
}
ul, li{
	list-style-type: none;
}
@media only screen and (max-width:700px){
	table , thead,tbody,tr,th,td{
		display: block;
	}
	table{
		top:1500px;
	}
	thead{
		display: none;
	}
	td:nth-child(odd){
		background-color: #eee;
	}
	td{
		padding-left: 150px;
		position:relative;
		background-color: #ccc;
		margin-top: -1;
	}
	td::before{
			padding: 10px;
			content: attr(data-label);
			position:absolute;
			top:0;
			left: 0px;
			width: 130px;
			background-color:rgb(230, 54, 23);
			color: #ffff;
			display: flex;
			align-items: center;
			font-weight: bold;
	}
	tr{
		margin-bottom: 1rem;
	}
}
