#map{
  		width: 700px;
  		height: 700px;
  		padding-top: 65px;
  		
 }
 
 #station{
 	list-style: none;

 }

 ul li{
 	background-color: red;
 	border: 2px solid black;
 }

 div#listestations{
 	   float: left;
 }
div#frame{
	height: 500px;
	width: 100px;
}
